/**************************************\
 *全般
\**************************************/

@import url(https://fonts.googleapis.com/css?family=Alice);

html{
    background-color: white;
}

body{
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    color:#777777;
}

a:link{
    color:#aaaaff;
    text-decoration: none;
}

a:visited {
    color:#aaaaff;
    text-decoration: none;
}

a:hover{
    color:#0000ff;
    text-decoration: none; 
}

img.pageheader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p.back{
    margin: 3em;
    text-align: center;
    font-family: Alice;
    font-size: 130%;
}


/**************************************\
 *イラスト本体
\**************************************/


div.illust{
    text-align: center;
}

img.illust{
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

p.illusttitle{
    text-align: center;
}

p.illustcomment{
    text-align: center;
}
